
/.vs/
/BudgetPlannerApi/bin/
/BudgetPlannerApi/obj/
/AngularUI/v1/node_modules/
/AngularUI/MyBudgetPlannerUi/.angular/
/AngularUI/MyBudgetPlannerUi/node_modules/
/AngularUI/MyBudgetPlannerUi/.vscode/
/AngularUI/v3/.angular/
/AngularUI/v3/node_modules/
