/BudgetPlannerApi/obj/
/.vs/
/BudgetPlannerApi/bin/

.fake
./package-lock.json
MyBudgerPlannerUI/package-lock.json
BudgetPlannerApi/publish/
/AngularUI/node_modules/
MyBudgerPlannerUI/.angular/
MyBudgerPlannerUI/node_modules/
