<nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm mb-4">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" routerLink="/">My App</a> 
    <div class="collapse navbar-collapse">

       <ul class="navbar-nav me-auto mb-2 mb-lg-0" *ngIf="this.isLoggedIn()">
        <li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active-link">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/categories" routerLinkActive="active-link">Categories</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/categories-crud" routerLinkActive="active-link">Categories CRUD</a></li>
      </ul>

       <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         <li class="nav-item" *ngIf="!this.isLoggedIn()"><a class="nav-link" routerLink="/login" routerLinkActive="active-link">Login</a></li>
         <li class="nav-item d-flex align-items-center" *ngIf="this.isLoggedIn()">
          <span class="nav-link disabled">Hello, {{ this.userTokenData()?.fullName  }}</span>
        </li>
        <li class="nav-item" *ngIf="isLoggedIn()" (click)="logout()" style="cursor: pointer;"><a class="nav-link">Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<router-outlet />
