
<div class="card">
  <div class="card-header text-dark">
    <h1 class="card-title">Category Management</h1>
  </div>
  <div class="card-body"> 
<div class="container mt-5">
   <form [formGroup]="categoryForm" (ngSubmit)="onSubmit()"> 
    <div class="row">
      <input type="hidden" formControlName="id" />
    <!-- Checkbox -->
    <div class="mb-3 d-flex justify-content-end align-items-center">
      <input class="form-check-input me-2" type="checkbox" id="addSubCategory" formControlName="isSubCategory">
      <label class="form-check-label mb-0" for="addSubCategory">Add Sub Category</label>
    </div>
     
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
           <label for="categoryName" class="form-label">Category Name*</label>
          <input type="text" id="categoryName" class="form-control" formControlName="categoryName" />
          <div *ngIf="categoryForm.get('categoryName')?.invalid && categoryForm.get('categoryName')?.touched" class="text-danger">   
             Category Name is required.
         </div>   
      </div>
    
    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <label for="description" class="form-label">Description</label>
      <input type="text" id="description" class="form-control" formControlName="description" />
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
      <label for="allocatedAmount" class="form-label">Allocated Amount*</label>
      <input type="number" id="allocatedAmount" class="form-control" formControlName="allocatedAmount" /> 
      <div *ngIf="categoryForm.get('allocatedAmount')?.invalid && categoryForm.get('allocatedAmount')?.touched" class="text-danger">
        Allocated Amount is required and must be a positive number.
      </div>
    </div> 

      <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3"   *ngIf="categoryForm.get('isSubCategory')?.value">
        <label  for="parentId" class="form-label">Select Parent Category</label>
        <select formControlName="parentId" class="form-control">
          <option value="">-- Select Parent Category --</option>
          <option *ngFor="let category of topLevelCategories" [value]="category.id">{{ category.categoryName }} </option>
        </select>
      </div>
       </div> 
<div class="row mt-3">
      <div class="bg-color-primary text-white d-flex justify-content-center align-items-center md-3">
      <button type="submit"
      class="btn btn-success"
      [ngClass]="{'d-block': categoryForm.invalid, 'd-inline-block': categoryForm.valid}"
      [disabled]="categoryForm.invalid">Save</button>
  </div>
</div>   
   </form>
</div>
<div class="container">  
<div class="card-body">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Category Name</th>
        <th>Description</th>
        <th>Allocated Amount</th>
        <th>Parent Id</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let category of categories()">
        <td>{{ category.categoryName }}</td>
        <td>{{ category.description }}</td>
        <td>{{ category.allocatedAmount }}</td>
        <td>{{ category.parentId }}</td>
      
        <td>
          <button class="btn btn-primary btn-sm me-2" (click)="editCategory(category)">
            <i class="bi bi-pencil">Edit</i>
          </button>
          <button class="btn btn-danger btn-sm" (click)="onDelete(category.id!)">
            <i class="bi bi-trash">Delete</i>
          </button>
        </td> 
        </tr>
     </tbody>
  </table>
</div> 
</div>
</div>



