<form [formGroup]="incomeForm" (ngSubmit)="onSubmit()">
    <div class="row g-4">
        <div class="col-sm-12 col-md-8">
            <label for="source" class="form-label"> Source On Income</label>
            <input type="text" class="form-control" id="source" formControlName="sourceName" required />
        </div>
        <div class="col-sm-12 col-md-2">
            <label for="amount" class="form-label">Amount</label>
            <input type="number" class="form-control" id="amount" formControlName="incomeAmount" required min="1" />
        </div>
        <div class="col-sm-12 col-md-2">
            <div class="mt-4 d-flex" style="padding-top:0.3em;">
                <button type="submit" class="btn btn-primary" [disabled]="incomeForm.invalid || savingIncome()">
                    @if (savingIncome()) {
                    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
                    }
                    @if (!savingIncome()) {
                    Save
                    }
                </button>
            </div>
        </div>
    </div>
</form>