<div class="container my-5">
  <div class="card shadow-sm border-0">
    <div class="card-body p-4">
      <h2 class="mb-4 border-bottom pb-2">Wishlist Management</h2>

      <form [formGroup]="form" (ngSubmit)="submit()">
        
        <input type="hidden" formControlName="uniqueId" hidden/>

        <div class="row g-4">
          <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="item" class="form-label fw-semibold">Item</label>
            <input id="item" type="text" class="form-control shadow-sm" formControlName="item" required />
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="amount" class="form-label fw-semibold">Amount</label>
            <input id="amount" type="number" class="form-control shadow-sm" formControlName="amount" required min="1" />
          </div>

          <div class="col-sm-12 col-md-6 col-lg-4">
            <label for="description" class="form-label fw-semibold">Description</label>
            <input id="description" type="text" class="form-control shadow-sm" formControlName="description" />
          </div>
        </div>

        <div class="mt-4 d-flex justify-content-end">
          <button type="submit" class="btn btn-primary px-4 me-2" [disabled]="form.invalid">Save</button>
          <button type="button" class="btn btn-secondary px-4" (click)="form.reset()">Clear</button>
        </div>
        
 <div *ngIf="notification()" class="mb-3">
              <div [ngClass]="isSuccess() ? 'alert alert-success' : 'alert alert-danger'">
                {{ notification() }}
              </div>
            </div>
              <div *ngIf="form.get('item')?.valid" class="text-success small">
                    <span>save wishlist successfully</span>
                  </div>

      </form>
    </div>
  </div>
</div>
